@charset "UTF-8";
/*@import "./_various";*/
/*@import "./_prefixers";*/
.LOM-feedback-transition {
  /*-webkit-transition: background-color 1s linear;
  -moz-transition: background-color 1s linear;
  -o-transition: background-color 1s linear;
  transition: background-color 1s linear;*/
  /*background: white;*/
  animation: color-me-in 0.75s; }

@keyframes color-me-in {
  0% {
    background: #c8f9af; }
  100% {
    background: white; } }
/*@import "./_animations";*/
/*@import "./helpers/_helpers";*/
.alignLeft {
  text-align: left; }

.alignRight {
  text-align: right; }

.alignCenter {
  text-align: center; }

.verticalCenter {
  margin-left: auto;
  margin-right: auto; }

.w10 {
  width: 10%; }

.w20 {
  width: 20%; }

.w30 {
  width: 30%; }

.w40 {
  width: 40%; }

.w50 {
  width: 50%; }

.w60 {
  width: 60%; }

.w70 {
  width: 70%; }

.w80 {
  width: 80%; }

.w90 {
  width: 90%; }

.w100 {
  width: 100%; }

#wb-bar .top-menu h2.series-title a, footer .container {
  color: #fff; }

.testBanane {
  display: flex; }

.alignLeft {
  text-align: left; }

.alignRight {
  text-align: right; }

.alignCenter {
  text-align: center; }

.verticalCenter {
  margin-left: auto;
  margin-right: auto; }

.w10 {
  width: 10%; }

.w20 {
  width: 20%; }

.w30 {
  width: 30%; }

.w40 {
  width: 40%; }

.w50 {
  width: 50%; }

.w60 {
  width: 60%; }

.w70 {
  width: 70%; }

.w80 {
  width: 80%; }

.w90 {
  width: 90%; }

.w100 {
  width: 100%; }

  /* ---------------------------------------------------------------------------------------------
                                         content
--------------------------------------------------------------------------------------------- */
.breadcrumb {
  display: none !important; }

.devient {
  /*min-width:25px;*/
  /*background:url('pouvoir/ico_devient.jpg') no-repeat center;*/ }

table, tr {
  vertical-align: top;
  /*border-spacing:0px!important;
  border-collapse:collapse!importantl;
  border:solid;*/ }

html[lang='fr'] span[lang='en'],
html[lang='fr'] label[lang='en'] select {
  font-style: italic; }

div.instructions, .qs-right {
  border: 2px solid;
  padding: 13px 10px;
  margin-bottom: 20px;
  border-radius: 10px 0 10px 0; }

div.instructions.audio {
  padding: 10px 10px 0px 10px; }

div.instructions.audio > span {
  width: 90%;
  margin: 5px;
  margin-bottom: 10px;
  display: inline-block;
  height: 30px; }

div.row.gab {
  margin-left: 0px; }

p.super-special-emphasis {
  font-size: 17px;
  font-weight: 600; }

table {
  width: 100%;
  border: 1px solid;
  margin-bottom: 10px; }

table span.title {
  display: block;
  margin-bottom: 5px; }

table caption {
  font-size: 13px; }

table td {
  border-width: 2px;
  border-style: solid;
  padding: 4px; }

dl.nobold > dt {
  font-weight: 500 !important; }

p.reference {
  font-size: 0.9em; }

/* ----------------------------------------------------------------------------
----------------------------------------COLOR MANAGEMENT
---------------------------------------------------------------------------- */
/* TH TEAL*/
#lvl2 > li.th,
table caption,
body.th .qs-submit,
.tooltip-inner {
  background-color: #808047; }

body.th div.nvbar.container > div.row,
body.th div.instructions,
table,
table td,
body.th .qs-right {
  border-color: #808047 !important; }

body.th .wb-mltmd .glyphicon,
a:visited {
  color: #808047; }

.th .wb-mltmd .glyphicon {
  color: #808047;
  /*border: 1px solid #ddd;
  border-radius: 3px;
  padding:5px;*/ }

/* CO RED */
#lvl2 > li.co,
body.co .qs-submit,
body.co .recomm {
  background-color: #8C4335; }

body.co div.nvbar.container > div.row,
body.co div.instructions,
body.co .qs-right {
  border-color: #8C4335 !important; }

body.co .wb-mltmd .glyphicon {
  color: #8C4335; }

/* CO RED darker */
body.co .boutons-feedback > input:hover,
body.co .boutons-feedback > input:focus,
body.co .boutons-feedback > input:focus,
body.co .boutons-feedback > input:hover {
  background-color: #751f2a !important; }

.co .wb-mltmd .glyphicon {
  color: #477079; }

/* CE PURPLE */
#lvl2 > li.ce,
body.ce .qs-submit,
body.ce .recomm {
  background-color: #477079; }

body.ce div.nvbar.container > div.row,
body.ce div.instructions,
body.ce .qs-right {
  border-color: #477079 !important; }

/* CE PURPLE darker */
body.ce .boutons-feedback > input:hover,
body.ce .boutons-feedback > input:focus,
body.ce .boutons-feedback > input:focus,
body.ce .boutons-feedback > input:hover {
  background-color: #477079 !important; }

/* eE yellow */
#lvl2 > li.ee,
body.ee .qs-submit,
body.ee .boutons-feedback > input {
  background-color: #473C4C; }

body.ee div.nvbar.container > div.row,
body.ee div.instructions,
body.ee .qs-right {
  border-color: #473C4C !important; }

.ee .wb-mltmd .glyphicon {
  color: #473c4c; }

/* CE YeLLOwW darker */
body.ee .boutons-feedback > input:hover,
body.ee .boutons-feedback > input:focus,
body.ee .boutons-feedback > input:focus,
body.ee .boutons-feedback > input:hover {
  background-color: #724404 !important; }

/* DARK GREY */
.wb-mm-ctrls,
.wb-mm-txtonly,
.tline,
.bubble.viewed,
.bubble.viewed > a {
  color: #383838 !important; }

#wb-sm .menu > li > a,
.sm.open li a,
#wb-sm .sm.open li summary {
  background-color: #383838; }

.container {
  border-color: #383838; }

#lvl2 > li {
  padding-left: 20px; }

/* PALE GREY */
#lvl2 > li,
#lvl2 > li > a,
#wb-sm .menu > li > a {
  border-color: #5b5b5b; }

#wb-bar > .container,
footer > div.container {
  background-color: #1E314F; }

select[disabled],
select:disabled,
.gabarit-ee-10 a.clickable.disabled {
  color: #5b5b5b;
  text-decoration: line-through; }

/* PALE GREY HOVER*/
#wb-sm > div.nvbar > div.row,
.sm.open li a:hover {
  background-color: #4f4f4f; }

body[class=''] div.nvbar.container > div.row {
  border-color: #4f4f4f !important; }

/* Near White */
.menu > li > a,
.sm.open li a {
  color: #e1e1e1; }

body {
  background-color: #e1e1e1; }

/*  White */
.sm.open li a:hover,
.sm.open li a:focus,
table caption,
.qs-submit,
.qs-submit:hover,
.qs-submit:focus,
.recomm,
.recomm:hover,
.recomm:focus {
  color: #ffffff; }

.container {
  background-color: #ffffff; }

table td,
.wb-mm-ctrls,
div.instructions .wb-mltmd .btn-group {
  background: none; }

/* Near Black */
h1,
.gabarit-ee-10 a.clickable,
.gabarit-ee-10 a.clickable:focus,
.gabarit-ee-10 a.clickable:hover,
legend {
  color: #010101; }

/* ---------------------------------
                TITLEPAGE TITLE PAGE bubbles
-------------------------------------- */
.bubble {
  position: absolute;
  width: 140px; }

.bubble .bbl-content {
  text-decoration: none;
  display: block;
  text-align: center;
  background: url(pouvoir/bg_bbl.png) repeat-y;
  /*height:54px;*/
  padding: 0px 5px; }

.bubble:after,
.bubble:before {
  content: "";
  display: block;
  width: 140px;
  height: 34px; }

.bubble.b1:before,
.bubble.b2:before,
.bubble.b3:before {
  background: url(pouvoir/bg_bbl_generic_top.png) bottom no-repeat; }

.bubble.b1:after {
  background: url(pouvoir/bg_bbl1_btm.png) bottom no-repeat; }

.bubble.b2:after {
  background: url(pouvoir/bg_bbl2_btm.png) bottom no-repeat; }

.bubble.b3:after {
  background: url(pouvoir/bg_bbl3_btm.png) bottom no-repeat; }

.bubble.b4:after,
.bubble.b5:after,
.bubble.b6:after {
  background: url(pouvoir/bg_bbl_generic_btm.png) top no-repeat; }

.bubble.b4:before {
  background: url(pouvoir/bg_bbl4_top.png) bottom no-repeat; }

.bubble.b5:before {
  background: url(pouvoir/bg_bbl5_top.png) bottom no-repeat; }

.bubble.b6:before {
  background: url(pouvoir/bg_bbl6_top.png) bottom no-repeat; }

.bubble.viewed .bbl-content {
  background: url(pouvoir/bg_bbl_viewed.png) repeat-y; }

.bubble.b1.viewed:before,
.bubble.b2.viewed:before,
.bubble.b3.viewed:before {
  background: url(pouvoir/bg_bbl_generic_top_viewed.png) bottom no-repeat; }

.bubble.b1.viewed:after {
  background: url(pouvoir/bg_bbl1_btm_viewed.png) bottom no-repeat; }

.bubble.b2.viewed:after {
  background: url(pouvoir/bg_bbl2_btm_viewed.png) bottom no-repeat; }

.bubble.b3.viewed:after {
  background: url(pouvoir/bg_bbl3_btm_viewed.png) bottom no-repeat; }

.bubble.b.viewed4:after,
.bubble.b5.viewed:after,
.bubble.b6.viewed:after {
  background: url(pouvoir/bg_bbl_generic_btm_viewed.png) top no-repeat; }

.bubble.b4.viewed:before {
  background: url(pouvoir/bg_bbl4_top_viewed.png) bottom no-repeat; }

.bubble.b5.viewed:before {
  background: url(pouvoir/bg_bbl5_top_viewed.png) bottom no-repeat; }

.bubble.b6.viewed:before {
  background: url(pouvoir/bg_bbl6_top_viewed.png) bottom no-repeat; }

.bubble.viewed:before {
  font-family: 'Glyphicons Halflings';
  content: "\e013";
  color: #000;
  text-align: right;
  font-size: .8em; }

.bubble.b1,
.bubble.b3 {
  top: 18%; }

.bubble.b2 {
  top: 0%; }

.bubble.b1,
.bubble.b4 {
  left: 0%; }

.bubble.b2,
.bubble.b5 {
  left: 35%; }

.bubble.b3,
.bubble.b6 {
  right: 0%; }

.bubble.b4,
.bubble.b6 {
  bottom: 18%; }

.bubble.b5 {
  bottom: 0%; }

.main-title > p {
  padding: 0px 15px; }

/* ---------------------------------
                    GABARIT dialogue transcript
    -------------------------------------- */
.dialogue > dt,
.dialogue > dd {
  display: inline-block;
  vertical-align: top; }

.dialogue > dt {
  font-weight: 500; }

.dialogue > dd {
  background: url(pouvoir/bg-tiret.jpg) no-repeat 0px 8px; }

.col-md-12 .dialogue > dt {
  width: 8%; }

.col-md-12 .dialogue > dd {
  width: 92%; }

/* Large view and over */
@media screen and (min-width: 1200px) {
   /*
 WET-BOEW
 @title: Large view and over (screen only)
*/
  #wb-sm > div.pnl-strt > div.backnext {
    margin-left: 1106px; }

  .wb-menu .menu > li,
  .wb-menu .sm.open li {
    width: 369px; }

  .tbl-ppl {
    display: block;
    /*height:100%;
width:100%;*/
    min-height: 575px;
    background: url(pouvoir/table_people_lg.jpg) center 35% no-repeat; }

  .main-title {
    margin-top: 111px; }

  /* ---------------------------------
                  GABARIT dialogue transcript
  -------------------------------------- */
  .dialogue > dt {
    width: 14%; }

  .dialogue > dd {
    width: 86%; } }
/* Extra-extra-small view */
@media screen and (max-width: 479px) {
   /*
 WET-BOEW
 @title: Extra-extra-small view (screen only)
*/ }
/* Extra-small view */
@media screen and (min-width: 480px) and (max-width: 767px) {
   /*
 WET-BOEW
 @title: Extra-small view (screen only)
*/ }
/* Small view */
@media screen and (min-width: 768px) and (max-width: 991px) {
   /*
 WET-BOEW
 @title: Small view (screen only)
*/
   /*
 WET-BOEW
 @title: Small view (screen only)
*/ }
/* Medium view */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #wb-sm .menu > li:first-child > a {
    padding-left: 5px !important;
    padding-right: 0px !important; }

  #wb-sm .menu > li:first-child > a > span {
    right: 5px; }

   /*
 WET-BOEW
 @title: Medium view (screen only)
*/
  /* ---------------------------------
                  GABARIT dialogue transcript
  -------------------------------------- */
  .dialogue > dt,
  .dialogue > dd {
    display: inline-block;
    vertical-align: top; }

  .col-md-6 .dialogue > dt {
    width: 17%; }

  .col-md-6 .dialogue > dd {
    width: 83%; }

  #wb-sm > div.pnl-strt > div.backnext {
    margin-left: 906px; }

  .wb-menu .menu > li,
  .wb-menu .sm.open li {
    width: 302px; }

  .tbl-ppl {
    display: block;
    /*height:100%;
width:100%;*/
    min-height: 450px;
    background: url(pouvoir/table_people.jpg) center 20% no-repeat; }

  .main-title {
    margin-top: 96px; } }
/* Large view */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
   /*
 WET-BOEW
 @title: Large view (screen only)
*/ }
/* Extra-large view */
@media screen and (min-width: 1600px) {
   /*
 WET-BOEW
 @title: Extra-large view (screen only)
*/ }
/* -----------------------------------------------------

                  Print view 
                  
-------------------------------------------------------*/
@media print {
  #wb-bar,
  #wb-sttl a:after,
  #wb-info,
  #wb-sm,
  #wb-srch,
  #wb-sec {
    display: none !important; } }
/* fixes at 50, 107 > > > just to be more specific */
/*CSPS - TD - I turned it off for tb-container
#wb-lng >ul>li>ul,#mb-pnl .lng-ofr > ul >ul {
    position:absolute;
    background:#fff;

    text-align:left;
    padding:3px;
    }*/
#wb-lng > ul > li > ul > li > a:focus,
#wb-lng > ul > li > ul > li > a:hover {
  background: #eee;
  display: block; }

/* -----------------------------------------------------

                  Custom Styles
                  
-------------------------------------------------------*/
.wb-mm-ctrls .wb-mm-txtonly {
  display: none; }

.qs-answers .wb-mm-ctrls .tline {
  display: none; }

/*pour la pagnination */
/*.dataTables_wrapper .dataTables_paginate .paginate_button.current{ background-color:#335075;}*/
/* pagination */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #2f3742;
  border-color: #ccc; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #403a3b; }

.paginate_button {
  color: #403a3b; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:focus,
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background-color: #3f5b80;
  color: #fff; }

table.dataTable thead .sorting-icons {
  font-family: "Glyphicons Halflings"; }

/*polyfill progress*/
.progress {
  min-width: 200px;
  border: thin solid #ccc; }

.progress-bar {
  background: #2572b4 !important; }

progress {
  -webkit-appearance: none;
  appearance: none; }

progress::-moz-progress-bar {
  background: #2572b4;
  border: thin solid #ccc; }

progress::-webkit-progress-bar {
  background: #fff;
  border: thin solid #ccc; }

progress::-webkit-progress-value {
  background: #2572b4;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease; }

.wb-tabs [role="tablist"] li {
  background-color: #dbe4eb; }

select[disabled],
select:disabled {
  cursor: not-allowed !important; }

.gabarit-ee-10 a.clickable.disabled {
  cursor: default; }

/* -----------------------------------------------------

                  Quiz Styles
                  
-------------------------------------------------------*/
.qs-text legend,
.qs-answers legend {
  font-size: 1em;
  font-weight: 600;
  float: none; }

fieldset {
  padding: 0; }

.qs-submit,
.recomm {
  font-size: 13px; }

.qs-exercise {
  display: block;
  /*border: thin solid #ccc;*/
  /*padding: 0px 15px;*/ }

.qs-answers label {
  font-weight: 500; }

.validation {
  text-indent: 9999px;
  display: inline-block;
  line-height: 40px;
  width: 27px;
  height: 27px;
  overflow: hidden; }

.qs-vsfbh {
  min-width: 27px;
  /*display:inline-block;*/ }

.validation.ra {
  background: url(pouvoir/ico_ra.jpg) no-repeat; }

.validation.wa {
  background: url(pouvoir/ico_wa.jpg) no-repeat; }

.boutons-feedback {
  text-align: right; }

.boutons-feedback > input {
  margin-left: 5px; }

/* ---------------------------------
                Gabarit 1 Quiz spawner
-------------------------------------- */
.gabarit-co-1 input[type='radio'] {
  top: 3px; }

.gabarit-co-1 .qs-answers > div.row {
  margin-bottom: 15px; }

.gabarit-co-1 input[type="radio"] {
  float: left; }

.gabarit-co-1 .qs-exercise {
  padding: 0px 15px; }

/* ---------------------------------
                Gabarit 2 Quiz spawner
-------------------------------------- */
.gabarit-co-2 .qs-exercise {
  padding: 0px 15px; }

.gabarit-co-2 .qs-answers > div.row {
  margin-bottom: 10px; }

.qs-answers label {
  min-height: 26px; }

figcaption.emboldened > details > p > span {
  font-weight: 700; }

/* ---------------------------------
                Gabarit 3 Quiz spawner
-------------------------------------- */
.gabarit-co-3 .qs-answers > div.row {
  padding-left: 15px; }

.gabarit-co-3 .qs-answers > div.row > span {
  margin-left: 15px; }

.gabarit-co-3 .qs-answers legend {
  font-weight: 500;
  min-height: 31px;
  float: left; }

.gabarit-co-3 .qs-exercise {
  padding: 0px 15px; }

/*.gabarit-co-3 label,.gabarit-co-3 div.vraifaux>label{padding-left:15px;}*/
.gabarit-co-3 label,
.gabarit-co-3 div.vraifaux > input {
  float: left;
  margin-right: 15px; }

.gabarit-co-3 label,
.gabarit-co-3 div.vraifaux {
  min-height: 31px; }

/* ---------------------------------
                Gabarit 4 Quiz spawner
-------------------------------------- */
.gabarit-co-4 input[type='radio'] {
  top: 3px; }

.gabarit-co-4 .qs-answers > div.row {
  margin-bottom: 15px; }

.gabarit-co-4 input[type="radio"] {
  float: left; }

.gabarit-co-4 label {
  padding-top: 5px; }

.gabarit-co-4 .qs-right {
  padding-left: 15px;
  margin-top: 20px; }

.gabarit-co-4 .qs-right > div.row > figure {
  margin-left: 15px;
  margin-right: 15px; }

.gabarit-co-4 .qs-right > div.row .gabarit-co-4 .qs-right > p {
  margin-left: 45px; }

.gabarit-co-4 .qs-exercise {
  padding: 0px 15px; }

.gabarit-co-4 .qs-right > div.row {
  margin-bottom: 5px; }

.gabarit-co-4 .qs-right > div.row > span {
  padding-top: 5px;
  display: inline-block;
  width: 85%; }

/* ---------------------------------
                Gabarit 5 Quiz spawner
-------------------------------------- */
.gabarit-ce-5 > section {
  margin-top: 15px; }

.gabarit-ce-5 section.textbox,
.gabarit-ce-7 section.textbox,
.gabarit-ce-8 section.textbox {
  border-right: 1px #ccc solid;
  padding-right: 10px !important; }

.gabarit-ce-5 input[type="radio"] {
  float: left; }

.gabarit-ce-5 .qs-answers > div.row {
  margin-bottom: 10px;
  padding-right: 15px !important;
  min-height: 31px; }

.gabarit-ce-5 input[type="radio"] {
  float: left; }

.gabarit-ce-5 .qs-exercise {
  padding: 0px 15px; }

.gabarit-ce-5 .qs-vsfbh {
  padding-left: 0px; }

/* ---------------------------------
                Gabarit 6 Quiz spawner
-------------------------------------- */
.gabarit-ce-6 {
  margin-right: 0px;
  margin-top: 25px; }

.gabarit-ce-6 .qs-answers > div {
  height: 30px; }

.gabarit-ce-6 .qs-answers > div > label,
.gabarit-ce-6 .qs-answers > div > input {
  margin-top: 4px;
  vertical-align: top; }

.gabarit-ce-6 .qs-answers > div > input {
  margin-top: 7px; }

.gabarit-ce-6 .qs-answers {
  margin-bottom: 40px; }

.gabarit-ce-6 .qs-text legend,
.qs-answers legend {
  margin-bottom: 10px; }

.gabarit-ce-6 .qs-right > div {
  padding: 5px; }

/* ---------------------------------
                Gabarit 7 Quiz spawner
-------------------------------------- */
.gabarit-ce-7 > section {
  margin-top: 15px; }

.gabarit-ce-7 .qs-exercise {
  padding: 0px 15px; }

.gabarit-ce-7 .qs-vsfbh {
  padding-left: 0px; }

/* ---------------------------------
                Gabarit 8 Quiz spawner
-------------------------------------- */
.gabarit-ce-8 .qs-answers > div.row {
  padding-left: 15px; }

.gabarit-ce-8 .qs-answers > div.row > span {
  margin-left: 15px; }

.gabarit-ce-8 .qs-answers legend {
  font-weight: 500;
  padding-left: 0px; }

.gabarit-ce-8 .qs-exercise {
  padding: 0px 15px; }

.gabarit-ce-8 label,
.gabarit-ce-8 div.vraifaux > input {
  float: left;
  margin-right: 15px; }

.gabarit-ce-8 label,
.gabarit-ce-8 div.vraifaux {
  min-height: 31px;
  margin-left: 0px; }

.gabarit-ce-8 > section {
  margin-top: 15px; }

/* ---------------------------------
                Gabarit 9 Quiz spawner
-------------------------------------- */
.gabarit-ce-9 .qs-question {
  padding-right: 15px; }

.gabarit-ce-9 .qs-answers {
  margin: 15px 0px;
  border: 1px solid #d9d9d9;
  padding: 10px 10px 0px 10px; }

.gabarit-ce-9 .qs-answers p {
  float: left;
  line-height: 32px; }

.gabarit-ce-9 .qs-answers label {
  float: right;
  min-height: 20px;
  margin: 0; }

.gabarit-ce-9 .qs-answers .qs-vsfbh {
  display: inline-block; }

.gabarit-ce-9 .qs-answers label > select {
  cursor: pointer;
  height: 32px;
  line-height: 32px; }

.gabarit-ee-12 .validation {
  display: inline-block;
  padding: 0;
  width: 15px;
  height: 15px; }

.gabarit-ce-9 select {
  margin-top: 6px;
  cursor: pointer;
  height: 32px; }

.gabarit-ce-9 .validation.ra {
  background: url(pouvoir/ico_ra-sm.jpg) no-repeat 5px 12px; }

.gabarit-ce-9 .validation.wa {
  background: url(pouvoir/ico_wa-sm.jpg) no-repeat 5px 12px; }

/* ---------------------------------
                Gabarit 10 Quiz spawner
-------------------------------------- */
.gabarit-ee-10.row {
  margin: 0; }

.gabarit-ee-10.row > .box {
  padding: 2px; }

.gabarit-ee-10.row .clickable {
  border: 1px solid #d9d9d9;
  display: inline-block;
  text-align: center;
  padding: 5px;
  margin: 1px;
  width: 100%; }

.gabarit-ee-10 a.clickable,
.gabarit-ee-10 a.clickable:focus,
.gabarit-ee-10 a.clickable:hover {
  text-decoration: none; }

.gabarit-ee-10 a.clickable:focus,
.gabarit-ee-10 a.clickable:hover {
  color: #666; }

.gabarit-ee-10 textarea,
.gabarit-ee-10 input[type='text'] {
  border: none;
  resize: none; }

.gabarit-ee-10 .qs-answers {
  border: 1px solid #ccc; }

.gabarit-ee-10.zone-mots {
  margin-bottom: 45px; }

.gabarit-ee-10 .qs-exercise {
  padding: 0px 15px; }

.gabarit-ee-10 .qs-generic > p.sugg {
  border: 1px solid #d9d9d9;
  padding: 15px; }

.gabarit-ee-10 .qs-generic > p.rep {
  font-weight: 600;
  margin: 30px 15px 15px 15px; }

.gabarit-ee-10 .type-here {
  padding: 15px; }

.gabarit-ee-10 .boutons-feedback {
  margin-top: 15px; }

.gabarit-ee-10 .validation {
  margin-top: 10px; }

/* ---------------------------------
                Gabarit 11 Quiz spawner
-------------------------------------- */
.gabarit-ee-11 .qs-answers {
  margin: 15px 15px 15px 0px; }

.gabarit-ee-11 input.textfield {
  padding: 15px; }

.gabarit-ee-11 .qs-feedback {
  margin-top: 15px;
  padding: 0px; }

.gabarit-ee-11 .sugg {
  padding-left: 0px;
  font-weight: 600; }

.gabarit-ee-11 .reponse {
  padding: 15px 0px 15px 15px;
  border: 1px solid #ccc; }

.gabarit-ee-11 .boutons-feedback {
  margin-right: 15px; }

.gabarit-ee-11 .atraduire,
.gabarit-ee-11 .sugg {
  margin-left: 15px; }

/* ---------------------------------
                Gabarit 12 Quiz spawner
-------------------------------------- */
.gabarit-ee-12.row {
  margin-right: 0px; }

.gabarit-ee-12 .qs-answers {
  border: 1px solid #d7d7d7;
  padding: 15px;
  margin-bottom: 30px; }

.gabarit-ee-12 .qs-answers > p {
  line-height: 32px; }

.gabarit-ee-12 .qs-answers > p label {
  display: inline; }

.gabarit-ee-12 .validation {
  display: inline-block;
  width: 15px;
  height: 15px; }

.gabarit-ee-12 select {
  cursor: pointer;
  height: 32px; }

.gabarit-ee-12 .validation.ra {
  background: url(pouvoir/ico_ra-sm.jpg) no-repeat 0px 2px; }

.gabarit-ee-12 .validation.wa {
  background: url(pouvoir/ico_wa-sm.jpg) no-repeat 0px 2px; }

/* ---------------------------------
                Gabarit 13 Quiz spawner
-------------------------------------- */
.gabarit-ee-13 .qs-answers {
  border: 1px #d9d9d9 solid;
  padding: 15px 0px;
  margin-left: 0px;
  margin-right: 15px; }

.gabarit-ee-13 .qs-answers > div {
  height: 30px; }

.gabarit-ee-13 .qs-answers legend,
.gabarit-ee-13 .qs-answers p {
  margin-left: 15px; }

.gabarit-ee-13 .qs-answers > div > label,
.gabarit-ee-13 .qs-answers > div > input {
  margin-top: 4px;
  vertical-align: top; }

.gabarit-ee-13 .qs-answers > div > input {
  margin-top: 7px; }

.gabarit-ee-13 .boutons-feedback {
  margin: 15px; }

.gabarit-ee-13 .phrase.underline > span {
  border: 1px solid grey;
  display: inline-block;
  padding: 0px 10px;
  margin: 0px 10px;
  width: 100px; }

/* ---------------------------------
                Gabarit 14 Quiz spawner
-------------------------------------- */
.gabarit-ee-14.row {
  margin-right: 0px; }

.gabarit-ee-14 .qs-answers {
  border: 1px solid #d7d7d7;
  padding: 15px;
  margin-bottom: 30px; }

.gabarit-ee-14 .qs-answers > p {
  line-height: 50px; }

.gabarit-ee-14 .qs-answers > p label {
  white-space: nowrap;
  display: inline; }

.gabarit-ee-14 .qs-answers > p label > .qs-vsfbh {
  display: inline-block;
  min-width: 15px; }

.gabarit-ee-14 .validation {
  display: inline-block;
  width: 15px;
  height: 15px; }

.gabarit-ee-14 select {
  cursor: pointer;
  height: 32px; }

.gabarit-ee-14 .validation.ra {
  background: url(pouvoir/ico_ra-sm.jpg) no-repeat 0px 2px; }

.gabarit-ee-14 .validation.wa {
  background: url(pouvoir/ico_wa-sm.jpg) no-repeat 0px 2px; }

/* ---------------------------------
                Gabarit 15 Quiz spawner
-------------------------------------- */
.gabarit-ee-15 .qs-answers {
  border: 1px #d9d9d9 solid;
  padding: 15px;
  margin: 15px 0px; }

.gabarit-ee-15 .qs-question {
  padding-right: 15px; }

.gabarit-ee-15 .qs-answers .sugg {
  font-weight: 600;
  margin-top: 30px; }

.gabarit-ee-15 .qs-answers > p > span.exp {
  font-weight: 600; }

.gabarit-ee-15 .qs-answers > .fill-in,
.gabarit-ee-15 .qs-answers > .qs-feedback .exp {
  margin-left: 15px; }

.gabarit-ee-15 .qs-answers > .qs-feedback .exp > .traduit {
  padding: 7px;
  border: 1px #aaa solid; }

/* ---------------------------------
                Gabarit 17 Quiz spawner
-------------------------------------- */
.gabarit-ee-17 .qs-answers {
  border: 1px #d9d9d9 solid;
  padding: 15px 0px;
  margin-left: 0px;
  margin-right: 15px; }

.gabarit-ee-17 .qs-answers > div {
  height: 30px; }

.gabarit-ee-17 .qs-answers > div > label,
.gabarit-ee-17 .qs-answers > div > input {
  margin-top: 4px;
  vertical-align: top; }

.gabarit-ee-17 .qs-answers > div > input {
  margin-top: 7px; }

.gabarit-ee-17 .boutons-feedback {
  margin: 15px; }

/* ---------------------------------
                END GABARITS
-------------------------------------- */
/*# sourceMappingURL=theme.css.map */
.qs-answers .wb-mm-ctrls {
  padding: 0; }

/* ---------------------------------
                Théorie
-------------------------------------- */
#wb-bar > .container,
footer > div.container {
  transition: background-color 0.5s ease; }

html[data-nav*="-1-"] #wb-bar > .container,
html[data-nav*="-1-"] footer > div.container {
  background-color: #808047; }

/* ---------------------------------
                Comprehension orale
-------------------------------------- */
html[data-nav*="-2-"] #wb-bar > .container,
html[data-nav*="-2-"] footer > div.container {
  background-color: #8C4335; }
html[data-nav*="-2-"] .wb-mm-ctrls .btn {
  background: #8C4335;
  color: #fff; }

/* ---------------------------------
                Comprehension écrite
-------------------------------------- */
html[data-nav*="-3-"] #wb-bar > .container,
html[data-nav*="-3-"] footer > div.container {
  background-color: #477079; }

/* ---------------------------------
                Expression écrite
-------------------------------------- */
html[data-nav*="-4-"] #wb-bar > .container,
html[data-nav*="-4-"] footer > div.container {
  background-color: #473C4C; }

#wb-tphp li > a {
  color: #fff; }

.wb-mm-ctrls .frstpnl {
  text-align: left; }

.btn-group > input[type=range],
.btn-group > .mute {
  display: none; }

/*# sourceMappingURL=theme.css.map */
